<div class="container mt-4" *ngIf="animal; else loading">
  <div class="row">
    <!-- LEFT SIDE INFO -->
    <div class="col-md-6">
      <h1 class="fw-bold">{{ animal.name }}</h1>
      <!-- <p class="fs-5 text-muted">Breed: {{ animal.breed }}</p>
      <p class="fs-5 text-muted">Sex: {{ animal.sex }}</p> -->

      <h4 class="mt-4">About this animal</h4>
      <ul class="list-unstyled">
        <li><strong>Breed:</strong> {{ animal.breed }}</li>
        <li><strong>Sex:</strong> {{ animal.sex }}</li>
        <li><strong>Age:</strong> {{ animal.age }}</li>
        <li><strong>At shelter for:</strong> {{ animal.shelterDuration }}</li>
        <li><strong>Personality:</strong> {{ animal.personality }}</li>
      </ul>
      <!-- Logged-in customers can favorite -->
      <button
        *ngIf="isCustomer"
        class="btn"
        [class.btn-outline-danger]="!isFavorited"
        [class.btn-danger]="isFavorited"
        (click)="toggleFavorite()"
      >
        {{ isFavorited ? '♥ Unfavorite' : '♡ Favorite' }}
      </button>
      <div class="mt-4 d-flex gap-2">
        <!-- Guest -->
        <button *ngIf="!isLoggedIn" class="btn btn-primary" [routerLink]="['/login']">
          Login to Book
        </button>

        <!-- Customer -->
        <button *ngIf="isCustomer" class="btn btn-primary" [routerLink]="['/book', animal.id]">
          Book Appointment
        </button>

        <!-- Admin -->
        <button *ngIf="isAdmin" class="btn btn-warning">Edit</button>
        <button *ngIf="isAdmin" class="btn btn-danger">Delete</button>
      </div>
    </div>

    <!-- RIGHT SIDE IMAGE -->
    <div class="col-md-6">
      <!-- @for (animal of ; track $index) {} -->
      <img [src]="animal.imageUrl" alt="{{ animal.name }}" class="img-fluid rounded shadow" />
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="container mt-4">
    <p>Loading animal details...</p>
  </div>
</ng-template>
