<div class="card" (click)="onSelect()">
  <img class="card-img" [src]="animal.imageUrl" alt="{{ animal.name }}" />

  <div class="card-body">
    <h3 class="card-title">{{ animal.name }}</h3>
    <p class="card-text">{{ animal.breed }}</p>
    <p class="card-text">{{ animal.sex }}</p>

    <div class="actions">
      <!-- Admin -->
      <button *ngIf="userRole === 'admin'" class="btn btn-warning">Edit</button>
      <button *ngIf="userRole === 'admin'" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
